*~

/**/*.cmd
/**/*.o
/**/*.ko
/**/modules.order
/**/*.mod.c

/kernel/..tmp_*
/kernel/.missing-syscalls.d
/kernel/.tmp_*
/kernel/.vmlinux*
/kernel/System.map
/kernel/**/*.S
/kernel/**/*.s
/kernel/**/lib.a
/kernel/**/piggy.gzip
/kernel/**/vmlinux
/kernel/**/vmlinux.lds
/kernel/**/zImage
/kernel/**/Image
/kernel/**/modules.builtin
/kernel/drivers/video/logo/*_*.c
/kernel/kernel/config_data.*
/kernel/kernel/debug/kdb/gen-kdb_cmds.c
/kernel/kernel/timeconst.h
/kernel/lib/crc32table.h
/kernel/lib/gen_crc32table
/kernel/net/wireless/regdb.c
/kernel/usr/.initramfs_data.cpio.d
/kernel/usr/gen_init_cpio
/kernel/usr/initramfs_data.cpio

/mediatek/config/out/
/mediatek/custom/out/

